h1 {
  font-size: 9rem;
  font-family: Syne, sans-serif;
  color: white;
  text-shadow: 0 0 30px black;
  text-align: center;
  padding-top: 7rem;
}

p {
  font-size: 2rem;
}

div {
  margin-top: 5rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  padding: 0 2rem;
}

i {
  font-size: 2.5rem;
  color: white;
}

img {
  width: 100%;
}

@media only screen and (max-width: 769px) {
  h1 {
    font-size: 4rem;
    padding-top: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
}
