.nav-link.active {
  background-color: #f0ecd8 !important;
  border-color: none;
}

.nav-tabs {
  border: 3px solid black !important;
}

div {
  background-color: '#89a98c' !important;
}

.nav-item {
  padding: 0;
}
